<main role="main" class="feedlist-detail" data-id="{{ item.id }}">

    <section>
        <figure class="feedlist-detail-img">
            <img src="{{ item.image.url }}">
        </figure>
        {{#each item.product_occurrences}}
            <div class="product-indicator" style="top: {{position.y}}%; left: {{position.x}}%;" data-uuid="{{product.id}}"></div>
        {{/each}}
    </section>
    
    <section>
        <p class="avatar-name">
            <img class="avatar" src="{{ item.subject.avatar.url }}"> 
            {{ item.subject.name }}
        </p>

        <h1>{{ item.title }}</h1>

        <section class="feedlist-detail-info">
            <h2 class="feedlist-detail-title">Products</h2>
            
            <div class="product-container">
            
                {{#each products}}

                    <div class="product" data-uuid="{{id}}">
                        <div class="actual">
                            <h2>Actual</h2>
                            <figure class="product-image">
                                <img src="{{image.url}}">
                            </figure>

                            <div class="product-info">
                                <p>{{ name }}</p>
                                <p>{{ brand.name }}</p>
                            </div>
                        </div>

                        {{#each similars}}

                            <div class="similar">
                                <h2>{{ similar_type }}</h2>
                                <figure class="product-image">
                                    <img src="{{image.url}}">
                                </figure>
                                <div class="product-info">
                                    <p>{{ name }}</p>
                                    <p>{{ brand.name }}</p>
                                </div>
                            </div>
                        
                        {{/each}}

                    </div>

                    {{/each}}
                    
            </div>

        </section>
    </section>
</main>