<ul class="feedlist">
    {{#each items}}
        
        <li class="feedlist__item" data-uuid="{{id}}">
	        <img class="feedlist__item--img" src="{{ image.url }}">
	        <p class="avatar-name"><img class="avatar" src="{{ subject.avatar.url }}"> {{ subject.name }}</p>
	        <a href="appearance/{{id}}" data-id="{{id}}" class="feedlist__item--title"><h1> {{title}} </h1></a>
        </li>

    {{/each}}
</ul>

<button class="load-more">Load More</button>